body {
    font-family: 'Crimson Text', serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
}

p {
    font-size: 18px;
}

.footnote {
    font-size: 15px;
}

pre {
    padding: 8px !important;
    background-color: rgb(233, 233, 233) !important;
    width: 50% !important;
    overflow: scroll !important;
    font-family: 'Courier New', Courier, monospace !important;
}

code {
    font-family: 'Courier New', Courier, monospace !important;
    line-height: 0.4 !important;
    padding: 0px !important;
}

pre[class*="language-"] {
    line-height: 1.5;
}

.darker-gray {
    background-color: rgb(199, 199, 199)
}

#menu {
    display: none;
}

@media only screen and (max-width: 600px) {
    #nav {
        display: none;
    }
    #content {
        width: 100% !important;
        margin-left: 0px !important;
    }
    pre {
        width: 100%
    }
    #menu {
        display: block;
    }
}